<footer class="footer" translate="no">
  <div class="footer_contenido">
    <div translate="no" id="footer_tag">Developed by:</div>

    <div class="logo">
      <a
        href="https://linktr.ee/waldohidalgo"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/public/images/logo_waldo.png" alt="logo waldo" />
      </a>
    </div>
  </div>
</footer>
