<header class="py-3">
  <h1 class="text-center">
    <div class="header_contenedor_logo">
      <a href="/">Skate Park App</a>
      <span class="header_logo_icono"
        ><img
          class="header_logo"
          src="/public/images/skateboard_icon.png"
          alt="skateboard"
      /></span>
    </div>

    <div class="separador_header"></div>
  </h1>
</header>
