{{> header }}
<main class="no_found_section">
  <div class="no_found_contenedor_imagen">
    <h1 class="no_found_title">404</h1>
  </div>
  <div class="no_found_contenedor_detalle">
    <p class="no_found_subtitulo">Parece que estas perdido 🤔</p>
    <p class="no_found_description">
      ¡ La página que estas buscando no esta disponible !
    </p>
    <div class="no_found_link_404">
      <a href="/" title="Ir a la página de Inicio">
        Ir a la Página de Inicio
      </a>
    </div>
  </div>
</main>
{{> footer }}
