{{> header}}
<main class="py-3">
  <h2 class="text-center">Token Expirado ⌛</h2>
  <p class="text-center">
    No tienes acceso a esta ruta debido a que tu token ha expirado
  </p>
  <img
    src="/public/images/reloj_out.png"
    alt="prohibido"
    class="img_expirado mb-3"
  />
  {{> boton_volver}}
</main>
{{> footer}}
